{% extends "base.html" %}

{% block content %}
  {% include "_messages.html" %}

  <div class="container">
      <!--Product form-->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2 class="text-center mb-4" style="background-color: #5bc0de; border-radius: 5px; padding: 6px;"><strong>Add New Product</strong></h2>
          {% from "_formhelpers.html" import render_field %}
          <form method="post" enctype="multipart/form-data" action="{{ url_for('products.addproduct') }}">
            <div>
                {{ render_field(form.name, class='form-control', placeholder="Add Product name") }}
                {{ render_field(form.price, class='form-control', placeholder="Add Product price") }}
                {{ render_field(form.discount, class='form-control', placeholder="Add Product discount") }}
                {{ render_field(form.stock, class='form-control', placeholder="Add Product stock") }}

                <!-- Label for Brand Dropdown -->
                <label for="brand">Select a Brand</label>
                <select name="brand" id="brand" class="form-control" required>
                  <option value="">Select a Brand</option>
                  {% for brand in brands %}
                    <option value="{{brand.id}}">{{brand.name}}</option>
                  {% endfor %}
                </select>

                <!-- Label for Category Dropdown -->
                <label for="category">Select a Category</label>
                <select name="category" id="category" class="form-control" required>
                  <option value="">Select a Category</option>
                  {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                </select>

                {{ render_field(form.colors, class='form-control', placeholder="Add Product colors") }}
                {{ render_field(form.description, class='form-control', placeholder="Add Product description") }}

                <!-- Label and input for adding images -->
                <label for="images">Add Product Images</label>
                <input type="file" name="images" multiple="true" class="form-control" accept="image/*">
            </div>
            <div style="margin-top: 20px;">
              <input type="submit" value="Submit" class="btn btn-info form-control" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
