{% extends "base.html" %}
{% block nav3 %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Account <span
            class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Address</a></li>
        <li><a href="#">Edit Profile</a></li>
        <li><a href="{{url_for('admin.reset_password')}}">Change Password </a></li>
    </ul>
</li>
{% endblock nav3 %}

{% block content %}
  {% include "_messages.html" %}  
  <div class="container">
    <table class="table table-sm table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th>Sr</th>
          <th>{% if brands %}Brand{% else %}Category{% endif %} Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% if brands %}
          {% for brand in brands %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ brand.name }}</td>
              <td><a href="#" class="btn btn-sm btn-info">Edit</a></td>
              <td><a href="#" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
          {% endfor %}
        {% else %}
          {% for category in categories %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ category.name }}</td>
              <td><a href="#" class="btn btn-sm btn-info">Edit</a></td>
              <td><a href="#" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock content %}
