{% extends "base.html" %}
{% include "_messages.html" %}
{% block content %} 

<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="login-form container p-5">
        
        <!-- Reset Password -->
        <h2 class="font-weight-bold mt-3 text-center mb-4">Reset Your Password?</h2>
        <hr style="border: 1px solid rgb(197, 193, 193)" />
        <p class="text-center mb-4">
            <bold>Enter your email and we'll send you a password reset link.<bold>
        </p>
        {% from "_formhelpers.html" import render_field %}
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div>
                    {% for field in form %} {{ render_field(field)}} {% endfor %}
                </div>
                <div style="margin-top: 20px">
                    <input
                        type="submit"
                        value="E-mail reset link"
                        class="btn btn-info"
                        title="Submit Reset Form"
                    />
                </div>
                <div class="back-to-login">
                    <a class="float-left text-light" href="{{url_for('admin.login')}}"><i class="icon icon-arrow-left"></i>Back to login</a>
                </div>
            </form>
            <div style="margin-top: 3rem;"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>

{% endblock content %}
